# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Specific
Saved/*
node_modules
.env
CustomModules/libraries/

# Manual Tools
# exclude directories
ManualTools/lib/
ManualTools/public/attachments/*
!ManualTools/public/attachments/README.md
ManualTools/public/csv/*
!ManualTools/public/csv/README.md
ManualTools/public/pdf/*
!ManualTools/public/pdf/README.md

# exclude files
SuiteLets/2.1/generate_map_agreement.js