# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Specific
Saved/*
node_modules
.env

# LocalDataTransfer
# exclude directories
ManualTools/attachments/*
!ManualTools/attachments/README.md
ManualTools/csv/*
!ManualTools/csv/README.md
ManualTools/pdf/*
!ManualTools/pdf/README.md